In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('product_gallery.csv')

In [4]:
data

,Address,CategoryID,Category,City,Customer Company,Shippers Company,Customer,Country,EmployeeID,Fax,...,Quantity,QuantityPerUnit,UnitCost,UnitPrice,UnitPrice (Products),UnitsInStock,UnitsOnOrder,Sales,Profit,City and Counry
0,Berliner Platz 43,2,Овощи,Мюнхен,Мюнхенские традиции,ТрансАвтоГруз,Dieter K?ln,Австрия,8,089-0877451,...,25,30,"8,96","12,03","11,8",14,0,"300,75","76,75","Мюнхен, Австрия"
1,Berliner Platz 43,3,Кондитерские изделия,Мюнхен,Мюнхенские традиции,ТрансАвтоГруз,Dieter K?ln,Англия,8,089-0877451,...,24,1,"26,13","33,55","31,23",15,0,"805,2","178,08","Мюнхен, Англия"
2,Berliner Platz 43,5,Мясо/Птица,Мюнхен,Мюнхенские традиции,ТрансАвтоГруз,Dieter K?ln,Аргентина,8,089-0877451,...,40,100,"7,43",9,9,61,0,360,"62,8","Мюнхен, Аргентина"
3,Berliner Platz 43,8,Приправы,Мюнхен,Мюнхенские традиции,ТрансАвтоГруз,Dieter K?ln,Бельгия,8,089-0877451,...,20,20,"6,45","7,99",8,112,0,"159,8","30,8","Мюнхен, Бельгия"
4,Berliner Platz 43,8,Приправы,Мюнхен,Мюнхенские традиции,ТрансАвтоГруз,Dieter K?ln,Бразилия,8,089-0877451,...,28,21,"3,43","3,9",4,11,50,"109,2","13,16","Мюнхен, Бразилия"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,1900 Oak St.,3,Кондитерские изделия,Ванкувер,Милелниум,АвтоЛогистика,Joe Barry,Канада,1,(604) 555-7293,...,5,1,"10,85","13,43",14,76,0,"67,15","12,9","Ванкувер, Канада"
2168,1900 Oak St.,8,Приправы,Ванкувер,Милелниум,АвтоЛогистика,Joe Barry,Канада,1,(604) 555-7293,...,7,25,"21,11","24,76",25,24,0,"173,32","25,55","Ванкувер, Канада"
2169,35 King George,2,Овощи,Лондон,Продуктовый магазин,ТрансАвтоГруз,Greg Thatcher,Англия,3,(171) 555-3373,...,50,2,"304,7","366,56",399,57,0,18328,3093,"Лондон, Англия"
2170,35 King George,5,Мясо/Птица,Лондон,Продуктовый магазин,ТрансАвтоГруз,Greg Thatcher,Англия,3,(171) 555-3373,...,20,15,"34,17","38,88",38,21,10,"777,6","94,2","Лондон, Англия"
2171,Luisenstr. 48,5,Мясо/Птица,Мюнстер,Бомбастик,ТрансАвтоГруз,Heinz Disco,Германия,7,0251-035695,...,20,14,"70,81","72,74",80,38,0,"1454,8","38,6","Мюнстер, Германия"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2172 entries, 0 to 2171
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Address               2172 non-null   object
 1   CategoryID            2172 non-null   int64
 2   Category              2172 non-null   object
 3   City                  2172 non-null   object
 4   Customer Company      2172 non-null   object
 5   Shippers Company      2172 non-null   object
 6   Customer              2172 non-null   object
 7   Country               2172 non-null   object
 8   EmployeeID            2172 non-null   int64
 9   Fax                   1619 non-null   object
 10  OrderDate             2172 non-null   object
 11  OrderID               2172 non-null   int64
 12  Phone                 2172 non-null   object
 13  PostalCode            2172 non-null   object
 14  ProductID             2172 non-null   int64
 15  Product               2172 non-null   object
 16  ShipperID             2172 non-null   int64
 17  StateProvince         354 non-null    object
 18  SupplierID            2172 non-null   int64
 19  Discount              2172 non-null   object
 20  Freight               2172 non-null   object
 21  Quantity              2172 non-null   int64
 22  QuantityPerUnit       2172 non-null   int64
 23  UnitCost              2172 non-null   object
 24  UnitPrice             2172 non-null   object
 25  UnitPrice (Products)  2172 non-null   object
 26  UnitsInStock          2172 non-null   int64
 27  UnitsOnOrder          2172 non-null   int64
 28  Sales                 2172 non-null   object
 29  Profit                2172 non-null   object
 30  City and Counry       2172 non-null   object
dtypes: int64(10), object(21)
memory usage: 526.2+ KB

In [6]:
data.duplicated().sum()

0

In [7]:
data.drop(columns='CategoryID', inplace = True)
data.drop(columns='EmployeeID', inplace = True)
data.drop(columns='Fax', inplace = True)
data.drop(columns='ProductID', inplace = True)
data.drop(columns='ShipperID', inplace = True)
data.drop(columns='SupplierID', inplace = True)

In [8]:
#Переделаем название столбцов под условие Naming convention
data.columns = ['address', 'category', 'city', 'customer_company','shippers_company', 'customer', 'country', \
                'order_date', 'order_id', 'phone', 'postal_code', 'product', 'state_province', 'discount', 'freight', \
                'quantity', 'qunatity_per_unit', 'unit_cost', 'unit_price', 'unit_price_products', 'units_in_stock', \
                'unit_on_order', 'sales', 'profit', 'city_and_country']

In [9]:
data['order_date']= pd.to_datetime(data['order_date'], format='%d.%m.%Y')

In [10]:
data['discount'] = data['discount'].str.replace(',', '.').astype(float)
data['sales'] = data['sales'].str.replace(',', '.').astype(float)
data['freight'] = data['freight'].str.replace(',', '.').astype(float)
data['profit'] = data['profit'].str.replace(',', '.').astype(float)
data['unit_cost'] = data['unit_cost'].str.replace(',', '.').astype(float)
data['unit_price'] = data['unit_price'].str.replace(',', '.').astype(float)
data['unit_price_products'] = data['unit_price_products'].str.replace(',', '.').astype(float)

In [ ]:
import pandas_profiling
pandas_profiling.ProfileReport(data)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [9]:
data['state_province'].value_counts()

OR    136
WA     98
BC     55
QC     32
WY     12
NM      7
CA      5
ID      4
IL      2
AK      2
MT      1
Name: state_province, dtype: int64

In [10]:
#Расшифруем код каждого штата
states = {
    'AK': 'Alaska',
    'BC': 'British Columbia',
    'CA': 'California',
    'IL': 'Illinois',
    'ID': 'Idaho',
    'MT': 'Montana',
    'NM': 'New Mexico',
    'OR': 'Oregon',
    'QC': 'Quebec',
    'WA': 'Washington',
    'WY': 'Wyoming'
}
data['state_province'] = data['state_province'].map(states)

In [11]:
data['state_province'].value_counts()

Oregon              136
Washington           98
British Columbia     55
Quebec               32
Wyoming              12
New Mexico            7
California            5
Idaho                 4
Illinois              2
Alaska                2
Montana               1
Name: state_province, dtype: int64

In [12]:
#Создадим базу данных из получившегося DataFrame
import sqlite3
conn = sqlite3.connect('DataBase Product Gallery')
data.to_sql('product_gallery', conn, if_exists='replace', index = False)
conn.close()

In [14]:
data.to_csv('product_gallery_f.csv', index = False)